:root{   
    --white: #f1f1f1;
    --text: #050505;
    --principal: #00ff33;
    --bg-1:#272727;
    --bg-2: #7e7e7e;
    --bg-3: #414141;
    --bg-4: #121212;
    --gray-3: #a1a1a1;

        /* --------------------- */

        --radius-1: 4px;
        --radius-2: 16px;
        --radius-3: 32px;
        --radius-4: 40px;
    
        /* --------------------- */
    
        --distance-1:  0.25rem; /* 16px = 1rem */
        --distance-2:  0.5rem; /* 16px = 1rem */
        --distance-3:  1rem; /* 16px = 1rem */
        --distance-4:  2rem; /* 16px = 1rem */
        --distance-5:  2.5rem; /* 16px = 1rem */
        --distance-6:  3.75rem; /* 16px = 1rem */
        --distance-7:  4.375rem; /* 16px = 1rem */
    
        --distance-header: 6.125rem;
    
        /* --------------------- */
    
        --size-1: 1rem;
        --size-2: 1.25rem;
        --size-3: 1.5rem;
        --size-4: 1.65rem;
        --size-5: 2rem;
        --size-6: 2.5rem;
    
        --size-max-1: 2.85rem;
        --size-max-2: 3.5rem;
        --size-max-3: 4rem;
    
}
[data-theme="dark"]{
    --white: #050505;        
    --text: #f1f1f1;         
    --principal: #2b4f39;
    --bg-1: #d8d8d8;         
    --bg-2: #a1a1a1;         
    --bg-3: #bcbcbc;         
    --bg-4: #ededed;         
    --gray-3: #5e5e5e;       
}

